//
   Created by bdrosatos on 27/2/2017.

form([formGroup]="editReplyForm", on-ngSubmit="onSubmit()")
    .form-group.col-md-12(*ngIf='true')
        ckeditor(
        id="textContent",
        [config]="{uiColor: '#D3D3D3'}",
        debounce="500",
        formControlName="textContent")
    .form-group.col-md-12
        button.btn.btn-primary(type="submit",
        [disabled]="!editReplyForm.valid")
            | {{ 'BUTTONS.SUBMIT' | translate }}
        button.btn.btn-danger(type="button", (click)="onCancel()")
            | Cancel