*
  margin: 0
  padding: 0
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

a
  color: #03658c
  text-decoration: none

ul
  list-style-type: none

body
  font-family: 'Roboto', Arial, Helvetica, Sans-serif, Verdana
  background: #dee1e3

/** ====================
 *  Lista de Comentarios
 *=======================

.replies-container
  margin: 60px auto 15px
  width: 768px
  h1
    font-size: 36px
    color: #283035
    font-weight: 400
    a
      font-size: 18px
      font-weight: 700

.replies-list
  margin-top: 30px
  position: relative
  &:before
    content: ''
    width: 2px
    height: 100%
    background: #c7cacb
    position: absolute
    left: 32px
    top: 0


.replies-list li
  margin-bottom: 15px
  display: block
  position: relative
  &:after
    content: ''
    display: block
    clear: both
    height: 0
    width: 0



/**
 *  Avatar
 *---------------------------

.reply-avatar
  width: 65px
  height: 65px
  position: relative
  z-index: 99
  float: left
  border: 3px solid #FFF
  -webkit-border-radius: 4px
  -moz-border-radius: 4px
  border-radius: 4px
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2)
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2)
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2)
  overflow: hidden
  img
    width: 100%
    height: 100%

.reply-avatar
  width: 50px
  height: 50px

.reply-main-level:after
  content: ''
  width: 0
  height: 0
  display: block
  clear: both

/**
 *  Caja del Comentario
 *---------------------------

.replies-list .reply-box
  width: 680px
  float: right
  position: relative
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15)
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15)
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15)
  &:before, &:after
    content: ''
    height: 0
    width: 0
    position: absolute
    display: block
    border-width: 10px 12px 10px 0
    border-style: solid
    border-color: transparent #FCFCFC
    top: 8px
    left: -11px
  &:before
    border-width: 11px 13px 11px 0
    border-color: transparent rgba(0, 0, 0, 0.05)
    left: -12px

.reply-box
  width: 610px

.reply-box
  .reply-head
    background: #FCFCFC
    padding: 10px 12px
    border-bottom: 1px solid #E5E5E5
    overflow: hidden
    -webkit-border-radius: 4px 4px 0 0
    -moz-border-radius: 4px 4px 0 0
    border-radius: 4px 4px 0 0
    i
      margin-left: 14px
      position: relative
      top: 2px
      color: #A6A6A6
      cursor: pointer
      -webkit-transition: color 0.3s ease
      -o-transition: color 0.3s ease
      transition: color 0.3s ease
      &:hover
        color: #03658c
  .reply-name
    color: #283035
    font-size: 14px
    font-weight: 700
    float: left
    margin-right: 10px
    a
      color: #283035
  .reply-head span
    float: left
    color: #999
    font-size: 13px
    position: relative
    top: 1px
  .reply-content
    background: #FFF
    padding: 50px
    font-size: 15px
    color: #595959
    -webkit-border-radius: 0 0 4px 4px
    -moz-border-radius: 0 0 4px 4px
    border-radius: 0 0 4px 4px
  .reply-name.by-author
    color: #03658c
    a
      color: #03658c
    &:after
      content: 'Author'
      background: #03658c
      color: #FFF
      font-size: 12px
      padding: 3px 5px
      font-weight: 700
      margin-left: 10px
      -webkit-border-radius: 3px
      -moz-border-radius: 3px
      border-radius: 3px

button
  padding: 6px 12px


.comment-list
  padding-left: 88px
  clear: both
  margin-top: 15px

.comment-list
  &:before, &:after
    display: none
  li:before
    content: ''
    width: 60px
    height: 2px
    background: #c7cacb
    position: absolute
    top: 25px
    left: -55px
/** =====================
 *  Responsive
 *========================
@media only screen and (max-width: 766px)
  .replies-container
    width: 480px
  .replies-list .reply-box
    width: 390px
  //.reply-list .reply-box
  //  width: 320px