@mixin display-flex()
  display: -webkit-box
  display: -moz-box
  display: -ms-flexbox
  display: -webkit-flex
  display: flex

@mixin display-flex-center()
  @include display-flex()
  justify-content: center