//
   Created by stavros on 9/3/2017.
select#dp-day(name='dp-day', [ngModel]='date.getDate()', (change)="onChangeDay($event.target.value)")
    option(value='1') 01
    option(value='2') 02
    option(value='3') 03
    option(value='4') 04
    option(value='5') 05
    option(value='6') 06
    option(value='7') 07
    option(value='8') 08
    option(value='9') 09
    option(value='10') 10
    option(value='11') 11
    option(value='12') 12
    option(value='13') 13
    option(value='14') 14
    option(value='15') 15
    option(value='16') 16
    option(value='17') 17
    option(value='18') 18
    option(value='19') 19
    option(value='20') 20
    option(value='21') 21
    option(value='22') 22
    option(value='23') 23
    option(value='24') 24
    option(value='25') 25
    option(value='26') 26
    option(value='27') 27
    option(value='28') 28
    option(value='29') 29
    option(value='30') 30
    option(value='31') 31
select#dp-month(name='dp-month', [ngModel]='date.getMonth()', (change)="onChangeMonth($event.target.value)")
    option(value='0') January
    option(value='1') February
    option(value='2') March
    option(value='3') April
    option(value='4') May
    option(value='5') June
    option(value='6') July
    option(value='7') August
    option(value='8') September
    option(value='9') October
    option(value='10') November
    option(value='11') December
select#dp-year(name='dp-year', [ngModel]='date.getFullYear()', (change)="onChangeYear($event.target.value)")
    option(value='2017') 2017
    option(value='2016') 2016
    option(value='2015') 2015
    option(value='2014') 2014
    option(value='2013') 2013
    option(value='2012') 2012
    option(value='2011') 2011
    option(value='2010') 2010
    option(value='2009') 2009
    option(value='2008') 2008
    option(value='2007') 2007
    option(value='2006') 2006
    option(value='2005') 2005
    option(value='2004') 2004
    option(value='2003') 2003
    option(value='2002') 2002
    option(value='2001') 2001
    option(value='2000') 2000
    option(value='1999') 1999
    option(value='1998') 1998
    option(value='1997') 1997
    option(value='1996') 1996
    option(value='1995') 1995
    option(value='1994') 1994
    option(value='1993') 1993
    option(value='1992') 1992
    option(value='1991') 1991
    option(value='1990') 1990
    option(value='1989') 1989
    option(value='1988') 1988
    option(value='1987') 1987
    option(value='1986') 1986
    option(value='1985') 1985
    option(value='1984') 1984
    option(value='1983') 1983
    option(value='1982') 1982
    option(value='1981') 1981
    option(value='1980') 1980
    option(value='1979') 1979
    option(value='1978') 1978
    option(value='1977') 1977
    option(value='1976') 1976
    option(value='1975') 1975
    option(value='1974') 1974
    option(value='1973') 1973
    option(value='1972') 1972
    option(value='1971') 1971
    option(value='1970') 1970
    option(value='1969') 1969
    option(value='1968') 1968
    option(value='1967') 1967
    option(value='1966') 1966
    option(value='1965') 1965
    option(value='1964') 1964
    option(value='1963') 1963
    option(value='1962') 1962
    option(value='1961') 1961
    option(value='1960') 1960
    option(value='1959') 1959
    option(value='1958') 1958
    option(value='1957') 1957
    option(value='1956') 1956
    option(value='1955') 1955
    option(value='1954') 1954
    option(value='1953') 1953
    option(value='1952') 1952
    option(value='1951') 1951
    option(value='1950') 1950
    option(value='1949') 1949
    option(value='1948') 1948
    option(value='1947') 1947
    option(value='1946') 1946
    option(value='1945') 1945
    option(value='1944') 1944
    option(value='1943') 1943
    option(value='1942') 1942
    option(value='1941') 1941
    option(value='1940') 1940
    option(value='1939') 1939
    option(value='1938') 1938
    option(value='1937') 1937
    option(value='1936') 1936
    option(value='1935') 1935
    option(value='1934') 1934
    option(value='1933') 1933
    option(value='1932') 1932
    option(value='1931') 1931
    option(value='1930') 1930
    option(value='1929') 1929
    option(value='1928') 1928
    option(value='1927') 1927
    option(value='1926') 1926
    option(value='1925') 1925
    option(value='1924') 1924
    option(value='1923') 1923
    option(value='1922') 1922
    option(value='1921') 1921
    option(value='1920') 1920
    option(value='1919') 1919
    option(value='1918') 1918
    option(value='1917') 1917
    option(value='1916') 1916
    option(value='1915') 1915
    option(value='1914') 1914
    option(value='1913') 1913
    option(value='1912') 1912
    option(value='1911') 1911
    option(value='1910') 1910
    option(value='1909') 1909
    option(value='1908') 1908
    option(value='1907') 1907
    option(value='1906') 1906
    option(value='1905') 1905
    option(value='1904') 1904
    option(value='1903') 1903
    option(value='1901') 1901
    option(value='1900') 1900
