//
   Created by bdros on 03-Nov-16.
doctype html

.col-md-8.col-md-offset-2
    form([formGroup]="myForm", on-ngSubmit="onSubmit()")
        .form-group
            label(for="name")
                | {{ 'UNIVERSITY.NAME' | translate }}
            input#name.form-control(type="text",
            formControlName="name")
        .form-group
            label(for="shortName")
                | {{ 'UNIVERSITY.SHORTNAME' | translate }}
            input#shortName.form-control(type="text",
            formControlName="shortName")
        .form-group
            label(for="info")
                | {{ 'UNIVERSITY.INFO' | translate }}
            input#info.form-control(type="text",
            formControlName="information")

        button.btn.btn-primary(type="submit",
        [disabled]="!myForm.valid") {{ 'BUTTONS.SUBMIT' | translate }}