app-loading( [loading]="loading")
.col-md-8.col-md-offset-2( *ngIf="!loading" )
    form( [formGroup]="myForm", (ngSubmit)="onSubmit()")
        .form-group
            label( for="firstName") First Name
            input(
            type="text",
            id="firstName",
            class="form-control",
            formControlName="firstName"
            )
        .form-group
            label( for="lastName") Last Name
            input(
            type="text",
            id="lastName",
            class="form-control",
            formControlName="lastName"
            )
        .form-group
            label Birth Date
            br
            app-datepicker#birthDate([date]='birthDate',
            name="birthDate")

        .form-group
            label My University
            br
            ng-select(
            [items]='universities',
            [active]='[{id: selectedUniversityId, text: selectedUniversityName}]',
            (selected)='onSelectSearchUniversity($event)',
            placeholder='Select University     ')

        .form-group( *ngIf="selectedUniversityId != null || selectedUniversityId != ''" )
            label My Department
            br
            ng-select(
            [items]='departments',
            [active]='[{id: selectedDepartmentId, text: selectedDepartmentName}]',
            (selected)='onSelectSearchDepartment($event)',
            placeholder='Select Department     ')

        button.btn.btn-primary(
        type="submit",
        [disabled]="!myForm.valid" ) {{ "BUTTONS.SUBMIT" | translate }}