//
   Created by bdros on 03-Nov-16.

doctype html

.row
    .text-align-center
        form.form-inline([formGroup]='searchForm', on-ngSubmit='onSearchSubmit()')
            .form-group
                input#name.form-control(type='text', placeholder="{{'UNIVERSITY.NAME' | translate}}", formControlName='name')

            .form-group
                input#shortName.form-control(type='text', placeholder="{{'UNIVERSITY.SHORTNAME' | translate}}", formControlName='shortName')

            .form-group
                ng-select([allowClear]='true',
                [items]='universities',
                (selected)='onSelectSearchUniversity($event)',
                (removed)='onRemoveSearchUniversity($event)',
                placeholder='Select University     ')

            button.btn.btn-primary(type='submit')
                | {{'BUTTONS.SEARCH' | translate}}

    table.table.table-striped.table-spacing-top
        thead
            tr
                th.col-md-3
                    | {{ 'DEPARTMENT.NAME' | translate}}
                th.col-md-2
                    | {{ 'DEPARTMENT.SHORTNAME' | translate}}
                th.col-md-3
                    | {{ 'DEPARTMENT.INFO' | translate}}
                th.col-md-2
                    | University
                th.col-md-2
                    | {{ 'WORDS.ACTION' | translate}}
        tbody
            tr(*ngFor='let department of departments')
                td
                    | {{department.name}}
                td
                    | {{department.shortName}}
                td
                    | {{ department?.information}}
                td
                    a([routerLink]="['/admin/universities', department.university.id]")
                        | {{department.university.shortName}}
                td
                    button.btn.btn-primary.btn-sm((click)='onSelect(department.id)')
                        i.fa.fa-info-circle(aria-hidden='true')
                    button.btn.btn-warning.btn-sm((click)='onEdit(department.id)')
                        i.fa.fa-pencil(aria-hidden='true')
                    button.btn.btn-danger.btn-sm(mwlConfirm,
                    placement='top',
                    [title]="'DEPARTMENT.DELETE.CONFIRMATION' | translate",
                    [message]="'SENTENCES.CONFIRMATION' | translate",
                    [confirmText]="'<i class=\"fa fa-check\"></i>'",
                    [cancelText]="'<i class=\"fa fa-times\"></i>'",
                    (confirm)='onDelete(department.id)')
                        i.fa.fa-trash-o(aria-hidden='true')

    app-loading([(loading)]='loading')
    app-pagination(*ngIf='totalPages > 0',
    [(totalPages)]='totalPages',
    [total]='total',
    [(currentPage)]='page',
    (pageChanged)='getNewPage($event)')
