//
   Created by bdrosatos on 4/11/2016.

doctype html

app-loading([(loading)]='loading')
div(*ngIf='!loading')
    h2
        | Here are the details of the university you select
    ul
        li
            | id: {{university?.id}}
        li
            | name: {{university?.name}}
        li
            | Short name: {{university?.shortName}}
        li
            | information: {{university?.information}}
    h3 List of departments
    table.table.table-striped
        thead
            tr
                th.col-md-4
                    | name
                th.col-md-2
                    | action
        tbody
            tr(*ngFor='let department of depLists')
                td
                    | {{department.name}}
                td
                    button.btn.btn-sm.btn-primary((click)='onSeeDepartment(department._id)')
                        | See info
                        i.fa.fa-arrow-right(aria-hidden='true')
    button.btn.btn-danger((click)='onDelete()')
        | {{ 'BUTTONS.DELETE' | translate }}
