doctype html
html
    head
        base(href='/')
        title UniHub.tk
        meta(name='viewport', content='width=device-width, initial-scale=1')
        script(src="https://code.jquery.com/jquery-3.1.1.min.js",integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=",crossorigin="anonymous")
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin='anonymous')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
        script(src="/ckeditor/ckeditor.js")

        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel="apple-touch-icon", sizes="57x57", href="/images/favicons/apple-icon-57x57.png")
        link(rel="apple-touch-icon", sizes="60x60", href="/images/favicons/apple-icon-60x60.png")
        link(rel="apple-touch-icon", sizes="72x72", href="/images/favicons/apple-icon-72x72.png")
        link(rel="apple-touch-icon", sizes="76x76", href="/images/favicons/apple-icon-76x76.png")
        link(rel="apple-touch-icon", sizes="114x114", href="/images/favicons/apple-icon-114x114.png")
        link(rel="apple-touch-icon", sizes="120x120", href="/images/favicons/apple-icon-120x120.png")
        link(rel="apple-touch-icon", sizes="144x144", href="/images/favicons/apple-icon-144x144.png")
        link(rel="apple-touch-icon", sizes="152x152", href="/images/favicons/apple-icon-152x152.png")
        link(rel="apple-touch-icon", sizes="180x180", href="/images/favicons/apple-icon-180x180.png")
        link(rel="icon", type="image/png", sizes="192x192",  href="/images/favicons/android-icon-192x192.png")
        link(rel="icon", type="image/png", sizes="32x32", href="/images/favicons/favicon-32x32.png")
        link(rel="icon", type="image/png", sizes="96x96", href="/images/favicons/favicon-96x96.png")
        link(rel="icon", type="image/png", sizes="16x16", href="/images/favicons/favicon-16x16.png")
        link(rel="manifest", href="/images/favicons/manifest.json")
        meta(name="msapplication-TileColor", content="#ffffff")
        meta(name="msapplication-TileImage", content="/images/favicons/ms-icon-144x144.png")
        meta(name="theme-color", content="#ffffff")
    body
        my-app
            img(src='/images/loading.gif', id="init-loading")
        script(src='/js/app/vendor.bundle.js')
        script(src='/js/app/bundle.js')
        .container
