//
   Created by bdros on 03-Nov-16.
doctype html

.col-md-8.col-md-offset-2
    form([formGroup]="myForm", on-ngSubmit="onSubmit()")
        .form-group
            label(for="email")
                | {{ 'USER.EMAIL' | translate }}
            input#email.form-control(type="text",
            formControlName="email")
        .form-group
            label(for="password")
                | {{ 'USER.PASSWORD' | translate }}
            input#password.form-control(type="password",
            formControlName="password")


        button.btn.btn-primary(type="submit",
        [disabled]="!myForm.valid") {{ 'BUTTONS.SUBMIT' | translate }}