@import "ng2-select"
@import "../font-awesome/css/font-awesome.min.css"
@import "sass-mixins/flex"

/* Master Styles
*, body
  margin: 0
  padding: 0
  //background-color: #ebecec

//.container-fluid
//  margin: 0
//  padding: 0

html
  //background-color: rgba(7, 16, 16, 0.08)

h1
  color: #369
  font-family: Arial, Helvetica, sans-serif
  font-size: 250%

h2, h3
  color: #444
  font-family: Arial, Helvetica, sans-serif
  font-weight: lighter

body
  color: #888
  font-family: Cambria, Georgia, sans-serif

input[text], button
  color: #888
  font-family: Cambria, Georgia, sans-serif

a
  cursor: pointer

button
  font-family: Arial, sans-serif
  background-color: #eee
  border: none
  padding: 5px 10px
  border-radius: 4px
  cursor: pointer
  &:hover
    background-color: #cfd8dc
  &:disabled
    background-color: #eee
    color: #aaa
    cursor: auto

#init-loading
  position: fixed
  top: 50%
  left: 50%

/* Navigation link styles

nav a
  padding: 5px 10px
  text-decoration: none
  margin-top: 10px
  display: inline-block
  background-color: #eee
  border-radius: 4px
  &:hover
    color: #039be5
    background-color: #CFD8DC
  &.active
    color: #039be5

/* items class

.items
  margin: 0 0 2em 0
  list-style-type: none
  padding: 0
  width: 24em
  li
    cursor: pointer
    position: relative
    left: 0
    background-color: #EEE
    margin: .5em
    padding: .3em 0
    height: 1.6em
    border-radius: 4px
    &:hover
      color: #607D8B
      background-color: #DDD
      left: .1em
    &.selected:hover
      background-color: #BBD8DC
      color: white
  .text
    position: relative
    top: -3px
    margin: 0 0 2em 0
    list-style-type: none
    padding: 0
    width: 24em

  li
    cursor: pointer
    position: relative
    left: 0
    background-color: #EEE
    margin: .5em
    padding: .3em 0
    height: 1.6em
    border-radius: 4px
    &:hover
      color: #607D8B
      background-color: #DDD
      left: .1em
    &.selected
      background-color: #CFD8DC
      color: white
      &:hover
        background-color: #BBD8DC
  .text
    position: relative
    top: -3px
  .badge
    display: inline-block
    font-size: small
    color: white
    padding: 0.8em 0.7em 0 0.7em
    background-color: #607D8B
    line-height: 1em
    position: relative
    left: -1px
    top: -4px
    height: 1.8em
    margin-right: .8em
    border-radius: 4px 0 0 4px

/* everywhere else

*
  font-family: Arial, Helvetica, sans-serif

.spacing
  padding: 10px

.table-spacing-top
  margin-top: 20px

.text-align-center
  text-align: center

.flag-icon
  width: 20px
  height: 20px
  margin-right: 5px
  cursor: pointer

.display-flex
  @include display-flex

.display-flex-center
  @include display-flex-center

/*
 *Copyright 2016 Google Inc. All Rights Reserved.
 *Use of this source code is governed by an MIT-style license that
 *can be found in the LICENSE file at http://angular.io/license

//--------Header---------
#logo
  height: 100%
  width: 100%


@import "landing"