//
   Created by stavr on 12/13/2016.

doctype html
.container( *ngIf="!noDefaultDepartment" )
    .row
        .info( *ngIf='!infoLoading')
            h2
                | {{'UNIVERSITY.UNIVERSITY' | translate }} :
                | {{university['name']}} ({{university['shortName']}})
            h3
                | {{'DEPARTMENT.DEPARTMENT' | translate }} :
                | {{department['name']}} ({{department['shortName']}})

        app-loading([(loading)]='infoLoading')

    .row

        .text-align-center
            form.form-inline([formGroup]='searchForm', on-ngSubmit="onSearchSubmit()")
                .form-group
                    input#name.form-control(type='text', placeholder="{{'COURSE.NAME' | translate}}", formControlName='name')


                button.btn.btn-primary(type='submit')
                    | {{'BUTTONS.SEARCH' | translate}}

        table.table.table-striped.table-spacing-top
            thead
                tr
                    th.col-md-3
                        | {{ 'COURSE.NAME' | translate}}
                    th.col-md-2
                        | {{ 'COURSE.TYPE' | translate}}
                    th.col-md-5
                        | {{ 'COURSE.INFO' | translate}}
                    th.col-md-1
                        | {{ 'COURSE.TOTAL_EXAMS' | translate}}
                    th.col-md-1
                        | {{ 'WORDS.ACTION' | translate}}
            tbody
                tr(*ngFor='let course of courses')
                    td
                        | {{course.name}}
                    td
                        | {{course.courseType}}
                    td
                        | {{ course?.information}}
                    td
                        | {{course?.examsCount}}
                    td
                        button.btn.btn-primary.btn-sm((click)='onSelectCourse(course.id)')
                            i.fa.fa-arrow-circle-right(aria-hidden='true')
                        button.btn.btn-warning.btn-sm(*ngIf='!course.isFollow',(click)='setFollow(course)')
                            i.fa.fa-star-o(aria-hidden='true')
                        button.btn.btn-danger.btn-sm(*ngIf='course.isFollow',(click)='removeFollow(course)')
                            i.fa.fa-star(aria-hidden='true')


        app-loading([(loading)]='courseLoading')

        app-pagination(*ngIf='totalPages > 0',
        [(totalPages)]='totalPages',
        [total]='total',
        [(currentPage)]='page',
        (pageChanged)='getNewPage($event)')

.no-department( *ngIf="noDefaultDepartment" )
    h2
        | No default department selected! Click here to edit your profile
        br
        a.btn.btn-primary( (click)='onEditProfileClick()' ) {{ 'MAIN_MENU.EDIT_PROFILE' | translate}}
