//
   Created by stavros on 20/2/2017.
li
    .reply-main-level
        // Avatar
        .reply-avatar
            img(src='http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg', alt='')
        .reply-box
            .reply-head

                span.pull.pull-left(*ngIf="reply.exam.profile.user.id  == authService.getCurrentUserId()", [attr.title]="reply.isApproved ? 'Unmark as approved?' : 'Mark as approved?'")
                    i.fa.fa-check.fa-2x(*ngIf="reply.isApproved", style='color: green', (click)="onUnMarkApprove(reply.id)")
                    i.fa.fa-check.fa-2x(*ngIf="!reply.isApproved", (click)="onMarkApprove(reply.id)")

                span.pull.pull-left(*ngIf="reply.exam.profile.user.id  != authService.getCurrentUserId()")
                    i.fa.fa-check.fa-2x(*ngIf="reply.isApproved", style='color: green; pointer-events: none; cursor: default')
                h6.reply-name.by-author
                    a(href='http://creaticode.com/blog')
                    | {{ reply?.profile?.firstName }}  {{ reply?.profile?.lastName }}
                span
                    | {{ elapsedTimeCreated?.years > 0 ? elapsedTimeCreated?.years : ''}}
                    | {{ elapsedTimeCreated?.years > 0 ? (elapsedTimeCreated?.years > 1 ? ('TIME.YEARS' | translate) : 'TIME.YEAR' | translate   )  : ''}}
                    | {{ elapsedTimeCreated?.months > 0 ? elapsedTimeCreated?.months : ''}}
                    | {{ elapsedTimeCreated?.months > 0 ? (elapsedTimeCreated?.months > 1 ? ('TIME.MONTHS' | translate) : 'TIME.MONTH' | translate   )  : ''}}
                    | {{ elapsedTimeCreated?.days > 0 ? elapsedTimeCreated?.days : ''}}
                    | {{ elapsedTimeCreated?.days > 0 ? (elapsedTimeCreated?.days > 1 ? ('TIME.DAYS' | translate) : 'TIME.DAY' | translate   )  : ''}}
                    | {{ elapsedTimeCreated?.hours > 0 ? elapsedTimeCreated?.hours : ''}}
                    | {{ elapsedTimeCreated?.hours > 0 ? (elapsedTimeCreated?.hours > 1 ? ('TIME.HOURS' | translate) : 'TIME.HOUR' | translate   )  : ''}}
                    | {{ elapsedTimeCreated?.minutes > 0 ? elapsedTimeCreated?.minutes : ''}}
                    | {{ elapsedTimeCreated?.minutes > 0 ? (elapsedTimeCreated?.minutes > 1 ? ('TIME.MINUTES' | translate) : 'TIME.MINUTE' | translate   )  : ''}}
                    | {{ elapsedTimeCreated?.seconds > 0 ? elapsedTimeCreated?.seconds : ''}}
                    | {{ elapsedTimeCreated?.seconds > 0 ? (elapsedTimeCreated?.seconds > 1 ? ('TIME.SECONDS' | translate) : 'TIME.SECOND' | translate   )  : ''}}
                    | {{ ' ' }}
                    | {{ 'TIME.AGO' | translate }}
                span
                    i.fa.fa-arrow-up.pull.pull-left(*ngIf="!alreadyVote", style="color: green", (click)='onUpvote(reply.id)')
                    i.fa.fa-arrow-down.pull.pull-left(*ngIf='alreadyVote',style="color: red", (click)='onDownvote(reply.id)')
                    span(style='color: green')
                        | {{ ' ' + reply.upvotes }}

                i.fa.fa-times.pull.pull-right(*ngIf="canEdit", style="color: red",mwlConfirm, placement='bottom',[message]="'SENTENCES.CONFIRMATION' | translate",
                    [confirmText]="'<i class=\"fa fa-check\"></i>'",
                    [cancelText]="'<i class=\"fa fa-times\"></i>'",
                    (confirm)='onDelete(reply.id)')
                i.fa.fa-pencil.pull.pull-right(*ngIf="canEdit", style="color: orange", (click)='editToggle = true')


                i.fa.fa-reply.pull.pull-right(style="color: gray", (click)='commentToggle = true')


            .reply-content(*ngIf="!editToggle", [innerHtml] = "reply?.textContent")

            app-reply-edit(*ngIf="editToggle", [reply]='reply', (cancel)="editToggle = $event;")



    app-comment-list([reply]='reply')
    app-comment-create(*ngIf="commentToggle", [reply]='reply', (cancel)="commentToggle = $event;")