//
   Created by bdros on 03-Nov-16.
doctype html

.col-md-8.col-md-offset-2
    form([formGroup]="myForm", on-ngSubmit="onSubmit()")
        .form-group
            label(for="name")
                | {{ 'DEPARTMENT.NAME' | translate }}
            input#name.form-control(type="text",
            formControlName="name")
        .form-group
            label(for="shortName")
                | {{ 'DEPARTMENT.SHORTNAME' | translate }}
            input#shortName.form-control(type="text",
            formControlName="shortName")
        .form-group
            label(for="info")
                | {{ 'DEPARTMENT.INFO' | translate }}
            input#info.form-control(type="text",
            formControlName="information")
        div
            ng-select([allowClear]="true",
            [items] = "universityList",
            (selected) = "selected($event)",
            (removed) = "removed($event)",
            placeholder="University")

        button.btn.btn-primary(type="submit",
        [disabled]="!hasSelected || !myForm.valid") {{ 'BUTTONS.SUBMIT' | translate }}