//
   Created by bdrosatos on 4/11/2016.

doctype html

.col-md-8.col-md-offset-2
    h2 Edit University
    form([formGroup]='myForm', on-ngSubmit='onSubmit()')
        .form-group
            label(for='name') name
            input#name.form-control(type='text', formControlName='name')
            label(for='shortName') short name
            input#shortName.form-control(type='text', formControlName='shortName')
            label(for='info') info
            input#info.form-control(type='text', formControlName='information')
        button.btn.btn-primary(type='submit')
            | submit
