//
   Created by bdrosatos on 4/11/2016.

doctype html

.row
    .text-align-center
        form.form-inline([formGroup]='searchForm', on-ngSubmit='onSearchSubmit()')
            .form-group
                input#name.form-control(type='text', placeholder="{{'UNIVERSITY.NAME' | translate}}", formControlName='name')

            .form-group
                input#shortName.form-control(type='text', placeholder="{{'UNIVERSITY.SHORTNAME' | translate}}", formControlName='shortName')
            button.btn.btn-primary(type='submit')
                | {{'BUTTONS.SEARCH' | translate}}

    table.table.table-striped.table-spacing-top
        thead
            tr
                th.col-md-5
                    | {{ 'USER.EMAIL' | translate}}
                th.col-md-5
                    | {{ 'USER.ROLE' | translate}}
                th.col-md-2
                    | {{ 'WORDS.ACTION' | translate}}
        tbody
            tr(*ngFor='let user of users')
                td
                    | {{user['email']}}
                td
                    | {{user['role']}}

                td
                    button.btn.btn-primary.btn-sm((click)='onSelect(user["id"])')
                        i.fa.fa-info-circle(aria-hidden='true')
                    button.btn.btn-warning.btn-sm((click)='onEdit(user["id"])')
                        i.fa.fa-pencil(aria-hidden='true')
                    button.btn.btn-danger.btn-sm(mwlConfirm,
                    placement='top',
                    [title]="'USER.DELETE.CONFIRMATION' | translate",
                    [message]="'SENTENCES.CONFIRMATION' | translate",
                    [confirmText]="'<i class=\"fa fa-check\"></i>'",
                    [cancelText]="'<i class=\"fa fa-times\"></i>'",
                    (confirm)='onDelete(user.id)')
                        i.fa.fa-trash-o(aria-hidden='true')

    app-loading([(loading)]='loading')
    app-pagination(*ngIf='totalPages > 0',
    [(totalPages)]='totalPages',
    [total]='total',
    [(currentPage)]='page',
    (pageChanged)='getNewPage($event)')
