//
   Created by bdros on 03-Nov-16.

em(*ngIf='total > 0' style='float:right')
    | {{ 'WORDS.TOTAL' | translate }} : {{total}}

ul.pagination
    li([ngClass]="{'active' : page === currentPage}", *ngFor='let page of pages')
        a((click)='onChangePage(page)') {{page}}
