//
   Created by bdros on 03-Nov-16.
doctype html

.col-md-8.col-md-offset-2
    form([formGroup]="myForm", on-ngSubmit="onSubmit()")
        .form-group
            label(for="name")
                | {{ 'COURSE.NAME' | translate }}
            input#name.form-control(type="text",
            formControlName="name")
        .form-group
            label(for="info")
                | {{ 'COURSE.INFO' | translate }}
            input#info.form-control(type="text",
            formControlName="information")
        div
            ng-select#courseType([items] = "courseTypeList",
            (selected) = "selected($event)",
            (removed) = "removed()"
            placeholder="{{ 'COURSE.COURSE_TYPE' | translate }}")

        button.btn.btn-primary(type="submit",
        [disabled]="!hasSelected || !myForm.valid") {{ 'BUTTONS.SUBMIT' | translate }}