//
   Created by bdrosatos on 27/1/2017.
.row
    div
        h2 {{course.name}}
            button.btn.btn-warning.btn-sm.spacing(*ngIf='!course.isFollow',(click)='setFollow(course)')
                i.fa.fa-star-o(aria-hidden='true')  {{'BUTTONS.FOLLOW' | translate}}
            button.btn.btn-danger.btn-sm.spacing(*ngIf='course.isFollow',(click)='removeFollow(course)')
                i.fa.fa-star(aria-hidden='true') | {{'BUTTONS.UNFOLLOW' | translate}}

    button.pull-right.btn.btn-success((click)='newExam()') {{'BUTTONS.NEW_EXAM' | translate}}


app-loading([(loading)]='loading')

.row
    table.table.table-striped.table-spacing-top(*ngIf='this.exams.length>0')
        thead
            tr
                th.col-md-3
                    | {{ 'COURSE.NAME' | translate}}
                th.col-md-2
                    | {{ 'COURSE.TYPE' | translate}}
                th.col-md-5
                    | {{ 'COURSE.INFO' | translate}}
                th.col-md-1
                    | {{ 'WORDS.ACTION' | translate}}
        tbody
            tr(*ngFor='let exam of exams')
                td
                    | {{exam.year}}
                td
                    | {{exam.examType}}
                td
                    | {{ exam?.information}}
                td
                    button.btn.btn-primary.btn-sm((click)='onSelectCourse(exam)')
                        i.fa.fa-eye(aria-hidden='true')

    h3(*ngIf='this.exams.length==0 && !loading')  {{ 'EXAMS.NO_EXAMS' | translate}}