doctype html

app-loading([(loading)]='loading')
div(*ngIf='!loading')
    h2
        | Here are the details of the course you select
    ul
        li
            | id: {{course?.id}}
        li
            | name: {{course?.name}}
        li
            | information: {{course?.information}}

    button.btn.btn-danger((click)='onDelete()')
        | {{ 'BUTTONS.DELETE' | translate }}
