app-loading([(loading)]='loading')

pdf-viewer([src]="pdfURL",
[page]="currentPage",
[original-size]="true",
(after-load-complete)="afterLoadPdf($event)")

.btn-group
    button.btn.btn-primary((click)="previousPage()",*ngIf="currentPage > 1") previous
    button.btn.btn-primary((click)="nextPage()",*ngIf="currentPage < totalPages") next