<div class="col-md-10">
    <h2>{{ "LANDING.LOGIN" | translate }}</h2>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="spacing">
        <div class="form-group">
            <label for="email">{{ "WORDS.EMAIL" | translate }}</label>
            <input
                    type="email"
                    id="email"
                    class="form-control"
                    formControlName="email">
        </div>
        <div class="form-group">
            <label for="password">{{ "WORDS.PASSWORD" | translate }}</label>
            <input
                    type="password"
                    id="password"
                    class="form-control"
                    formControlName="password">
        </div>
        <button
                class="btn btn-primary col-md-4 col-xs-4"
                type="submit"
                [disabled]="!myForm.valid">{{ "BUTTONS.SUBMIT" | translate }}
        </button>
        <div class="col-md-8 col-xs-8">
            <a target="_self" href="/api/users/authenticate/facebook" class="btn btn-primary">
                <i class="fa fa-lg fa-facebook-square"></i>
                <span>{{ "LANDING.LOGIN_FB" | translate }}</span>
            </a>
        </div>
    </form>
    <br>
    <hr>
    <div class="spacing">
        <a [routerLink]="['/welcome/signup']"
                class="btn btn-primary" >
            {{ "LANDING.SIGNUP_TEXT" | translate }}
        </a>
    </div>
</div>

