//
   Created by stavr on 30-Jan-17.

h1 Create new exam for {{course.name}}

.col-md-12
    form([formGroup]="createExamForm", on-ngSubmit="onSubmit()")
        .form-group.col-md-6
            //- label(for="year")
            //-     | {{ 'EXAM.YEAR' | translate }}
            input#year.form-control(type="text",
            formControlName="year",placeholder=" {{ 'EXAM.YEAR' | translate }}")
        .form-group.col-md-6
            //- label(for="information")
            //-     | {{ 'EXAM.INFO' | translate }}
            input#information.form-control(type="text",
            formControlName="information", placeholder="{{ 'EXAM.INFO' | translate }}")

        .form-group.col-md-6
            //- label(for="examType")
            //-     | {{ 'EXAM.EXAMTYPE' | translate }}
            ng-select#examType([items] = "examTypesList",
            (selected) = "selectExamType($event)",
            placeholder="{{ 'EXAM.EXAMTYPE' | translate }}")
        .form-group.col-md-6
            //- label(for="fileType")
            //-     | {{ 'EXAM.FILETYPE' | translate }}
            ng-select#fileType([items] = "fileTypeList",
            (selected) = "selectFileType($event)",
            placeholder="{{ 'EXAM.FILETYPE' | translate }}")

        .form-group.col-md-6
            label(for="topicNumber")
                | {{ 'TOPIC.TOPICS_NUMBER' | translate }}
            input#topicNumber(type="number",
            min="1",
            formControlName='topicNumber')

        .form-group.col-md-12(*ngIf='isText')
            label(for="textContent")
                | {{ 'EXAM.TEXTCONTENT' | translate }}
            ckeditor(
            id="textContent",
            debounce="500",
            formControlName="textContent")
        .form-group.col-md-6(*ngIf='isFile')
            label(for="fileInput")
            | {{ 'EXAM.FILE_UPLOAD' | translate }}
            input#fileInput(type="file", multiple, (change)="fileChange($event)")


        button.btn.btn-primary(type="submit",
        [disabled]="!createExamForm.valid || !isSelectedExamType")
          | {{ 'BUTTONS.SUBMIT' | translate }}