//
   Created by stavros on 20/2/2017.

form([formGroup]="createCommentForm", on-ngSubmit="onSubmit()")
    .form-group.col-md-12(*ngIf='true')
        label(for="textContent")
            | {{ 'REPLY.TEXTCONTENT' | translate }}
        ckeditor(
        id="textContent",
        [config]="{uiColor: '#D3D3D3'}",
        debounce="500",
        formControlName="textContent")
    .form-group.col-md-12
        button.btn.btn-primary(type="submit",
        [disabled]="!createCommentForm.valid")
            | {{ 'BUTTONS.SUBMIT' | translate }}

    .form-group.col-md-12
        button.btn.btn-danger(type="button", (click)='cancelEvent.next(false)')
            | {{ 'BUTTONS.CANCEL' | translate }}