//
   Created by bdrosatos on 4/11/2016.

doctype html

app-loading([loading]='loading')
.col-md-8.col-md-offset-2(*ngIf="!loading")
    h2 Edit Department
    form([formGroup]='myForm', on-ngSubmit='onSubmit()')
        .form-group
            label(for='name') name
            input#name.form-control(type='text', formControlName='name')
            label(for='shortName') short name
            input#shortName.form-control(type='text', formControlName='shortName')
            label(for='info') info
            input#info.form-control(type='text', formControlName='information')

            div
                ng-select([allowClear]="true",
                [items] = "universityList",
                [active]="initSelectBox",
                (selected) = "selected($event)",
                (removed) = "removed($event)",
                placeholder="University")
        button.btn.btn-primary(type='submit',
        [disabled]='!hasSelected || !myForm.valid')
            | {{ 'BUTTONS.SUBMIT'  | translate }}
