//
   Created by bdrosatos on 4/11/2016.

doctype html

.col-md-8.col-md-offset-2
    h2 Edit User
    form([formGroup]='myForm', on-ngSubmit='onSubmit()')
        .form-group
            label(for='email') email
                input#email.form-control(type='text', formControlName='email')
            ng-select([allowClear]="true",
            [items] = "roles",
            [active]="initSelectBox",
            (selected) = "selected($event)",
            (removed) = "removed($event)",
            placeholder="Role")
            label(for='isConfirmed') Is confirmed
                input(type="checkbox" name="isActive" formControlName="isConfirmed" id="isConfirmed")
        button.btn.btn-primary(type='submit')
            | submit
