@mixin display-flex()
  display: -webkit-box
  display: -moz-box
  display: -ms-flexbox
  display: -webkit-flex
  display: flex

i
  margin: 0 auto
  padding: 20px
  @include display-flex
  justify-content: center
