//
   Created by stavros on 23/2/2017.
.row
    div.col-md-5.col-md-offset-1.col-sm-5
        h2 Welcome to unihub!
        p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce augue diam, tincidunt semper libero et, scelerisque accumsan sapien. Sed egestas ligula in volutpat luctus. Quisque sit amet ipsum posuere, euismod odio sed, commodo justo. Aliquam tempus nisl ut laoreet varius. Nullam vitae neque odio. Donec tincidunt iaculis nunc, at porta quam. Donec condimentum erat sed mi condimentum, in euismod justo tincidunt. Etiam pharetra tellus elit, eget dapibus erat elementum id. Nullam ac egestas diam. Curabitur feugiat nunc elit, ac luctus ligula vestibulum eget. Nunc bibendum at tellus sed sollicitudin. Cras molestie, massa in placerat mattis, sem metus ultricies dui, eget lobortis mauris ante egestas tellus.

    div.col-md-4.col-md-offset-2.col-sm-5.col-sm-offset-2
        router-outlet
//app-authentication
