//
   Created by bdros on 03-Nov-16.

doctype html

header.row.spacing.table-spacing-top
    nav.col-md-12
        ul.nav.nav-tabs
            li(routerLinkActive='active', [routerLinkActiveOptions]='{ exact: true }', *ngIf='isAdmin()')
                a([routerLink]="['/admin/universities/list']") List
            li(routerLinkActive='active', *ngIf='isAdmin()')
                a([routerLink]="['create']") Create New
    .row.spacing
        router-outlet
