//
   Created by bdrosatos on 4/11/2016.

doctype html

.container-fluid
    div(style="float: right")
        img.flag-icon(*ngFor="let lang of translateService.getLangs()",
        [ngStyle]="{'display' : lang === translateService.currentLang ? 'none' : 'inline'}",
        (click)="onLangChange(lang)",
        [src]="getImgSrc(lang)")
    app-header
    hr
    router-outlet
    app-toast