a([routerLink]="['/welcome']",*ngIf='!isLoggedIn()')
    img.logo.img-responsive.spacing(src='/images/logo.png', alt='logo')

nav.navbar.navbar-default(*ngIf='isLoggedIn()')
    .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        a.navbar-brand([routerLink]="['/home']")
            img.logo.img-responsive(src='/images/logo.png', alt='logo', style="width: 100px")
    #navbar.collapse.navbar-collapse
        ul.nav.navbar-nav
            li(routerLinkActive='active')
                a([routerLink]="['/my-department']")
                    | {{ "MAIN_MENU.MY_DEPARTMENT" |
                    | translate }}
            li(*ngIf='isAdmin()', routerLinkActive='active')
                a([routerLink]="['/admin']")
                    | {{ "MAIN_MENU.ADMIN_PANEL"
                    | | translate }}


        .btn-group.pull-right
            button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                //| {{ "MAIN_MENU.PROFILE"
                //| | translate }}
                span.glyphicon.glyphicon-user
                span.caret
            ul.dropdown-menu
                li
                    a([routerLink]="['/auth/profile/edit']")
                        | {{ "MAIN_MENU.MY_PROFILE"
                        | | translate }}
                li
                    a([routerLink]="['/auth/logout']")
                        | {{ "MAIN_MENU.LOGOUT"
                        | | translate }}
