//
   Created by stavros on 20/2/2017.
li
    .reply-avatar
        img(src='http://i9.photobucket.com/albums/a88/creaticode/avatar_2_zps7de12f8b.jpg', alt='')
    .reply-box
        .reply-head
            h6.reply-name
                a(href='http://creaticode.com/blog')
                | {{ comment?.profile?.firstName }} {{ comment?.profile?.lastName }}
        .reply-content
            | {{ comment?.content }}