//
   Created by stavros on 20/2/2017.

.row
    ul.pagination.display-flex-center
        li([ngClass]="{'active' : topic === currentTopic}", *ngFor='let topic of topicsArray')
            a((click)='onChangeTopic(topic)') {{'Topic ' + topic}}
    .replies-container
        app-loading([(loading)]='loading')
        ul#replies-list.replies-list(*ngIf='!loading')
            app-reply(*ngFor='let reply of currentReplies', [reply]='reply', (refreshList)="refreshList($event)")

    app-pagination(*ngIf='totalPages > 1',
    [(totalPages)]='totalPages',
    [total]='total',
    [(currentPage)]='page',
    (pageChanged)='getNewPage($event)')

    app-reply-create([examId]='examId', [topicNumber]= 'currentTopic', (refreshList)="refreshList($event)")