doctype html

app-loading([(loading)]='loading')
div(*ngIf='!loading')
    h2
        | Here are the details of the department you select
    ul
        li
            | id: {{department?.id}}
        li
            | name: {{department?.name}}
        li
            | Short name: {{department?.shortName}}

        li
            | University: {{department?.university?.name}}
        li
            | information: {{department?.information}}
    h3 List of courses
    table.table.table-striped
        thead
            tr
                th.col-md-4
                    | name
                th.col-md-2
                    | action
        tbody
            tr(*ngFor='let course of courseLists')
                td
                    | {{course.name}}
                td
                    button.btn.btn-sm.btn-primary((click)='onSeeCourse(course._id)')
                        | See info
                        i.fa.fa-arrow-right(aria-hidden='true')
    button.btn.btn-primary((click)='newCourse()') {{  'COURSE.NEW_COURSE ' | translate  }}
    button.btn.btn-danger((click)='onDelete()')
        | {{ 'BUTTONS.DELETE' | translate }}
