<div class="col-md-10 col-sm-12">
    <h2>{{ "LANDING.SIGNUP" | translate }}</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div formGroupName="user">
            <div class="form-group">
                <label for="email">{{ "WORDS.EMAIL" | translate }}</label>
                <input
                        type="email"
                        id="email"
                        class="form-control"
                        formControlName="email">
            </div>
            <div formGroupName="passwords">
                <div class="form-group">
                    <label for="password">{{ "WORDS.PASSWORD" | translate }}</label>
                    <input
                            type="password"
                            id="password"
                            class="form-control"
                            formControlName="password">
                    <em>At least 6 characters</em>
                </div>
                <div class="form-group">
                    <label for="repeatPassword">{{ "WORDS.CONFIRM_PASSWORD" | translate }}</label>
                    <input
                            type="password"
                            id="repeatPassword"
                            class="form-control"
                            formControlName="repeatPassword">
                </div>
            </div>
        </div>
        <hr/>
        <div formGroupName="profile">
            <div class="form-group">
                <label for="firstName">{{ "PROFILE.FIRST_NAME" | translate }}</label>
                <input
                        type="text"
                        id="firstName"
                        class="form-control"
                        formControlName="firstName">
            </div>
            <div class="form-group">
                <label for="lastName">{{ "PROFILE.LAST_NAME" | translate }}</label>
                <input
                        type="text"
                        id="lastName"
                        class="form-control"
                        formControlName="lastName">
            </div>
            <div class="form-group">
                <ng-select [items]="universities" (selected)="onSelectUniversity($event)"
                           placeholder="Select University     "></ng-select>
            </div>
            <div *ngIf="universitySelected" class="form-group">
                <ng-select [items]="departments" (selected)="onSelectDepartment($event)"
                           placeholder="Select Department     "></ng-select>
            </div>
            <button
                    class="btn btn-primary col-md-12"
                    type="submit"
                    [disabled]="!registerForm.valid">{{ "BUTTONS.SUBMIT" | translate }}
            </button>
        </div>
    </form>
    <br>
    <hr>
    <div class="spacing">
        <a [routerLink]="['/welcome/signin']"
           class="btn btn-primary">
            {{ "LANDING.LOGIN_TEXT" | translate }}
        </a>
    </div>
</div>